.vs/
TasksEpam/TasksEpam/Project1/Task1.cs
TasksEpam/TasksEpam/Project1/Task2.cs
TasksEpam/TasksEpam/Project1/Task3.cs
TasksEpam/TasksEpam/Project1/TestHW1.cs
TasksEpam/TasksEpam/bin/Debug/TasksEpam.exe
TasksEpam/TasksEpam/bin/Debug/TasksEpam.pdb
TasksEpam/TasksEpam/bin/Debug/nunit_random_seed.tmp
TasksEpam/TasksEpam/obj/Debug/TasksEpam.exe
TasksEpam/TasksEpam/obj/Debug/TasksEpam.pdb




















